.custom-sidenav {

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  background-color: #e0e0e0;
  color: #212121;
}

.custom-divider {
  padding-bottom: 10px;
}

.mat-divider {
  border-top-color: #6e6e6e;
}

.mat-list-item {
  font-weight: bold;
  color: #e0e0e0;
}

a.mat-list-item:hover {
  font-weight: bolder;
  color: #4CAF50;
}

a.mat-list-item:active {
  font-weight: bolder;
  color: #4CAF50;
}

.container {
  display: flex;
  flex-direction: column;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}


h1.app-name {
  margin-left: 8px;
  font-weight: bold;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
