<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <ng-container *ngIf="unreadMessages$ | async as unreadMessages; else allRead">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon matBadge="{{unreadMessages}}" matBadgeColor="warn">menu</mat-icon>
        </button>
      </ng-container>

      <ng-template #allRead>
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-template>

    <h1 class="app-name">Pedibus App</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="custom-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <ng-container *ngIf="user$ | async as user">
        <div style="text-align: center; padding-bottom: 10px">
          <mat-icon style="width:50px; height:50px; font-size:50px;">account_circle</mat-icon>
        </div>
        <div style="padding-bottom: 30px; font-family: Roboto; text-align: center; font-weight: bold">{{user.name}} {{user.surname}}</div>
      </ng-container>
      <mat-divider class="custom-divider"></mat-divider>
      <mat-nav-list>
        <a style="display: list-item; text-align: center" mat-list-item>
          <ng-container *ngIf="unreadMessages$ | async as unreadMessages; else readAll">
            <mat-icon matBadge="{{unreadMessages}}" matBadgeColor="warn"
                      style="margin:auto; cursor: pointer"
                      (click)="goToCommunications()">email
            </mat-icon>
          </ng-container>

            <ng-template #readAll>
              <mat-icon style="margin:auto; cursor: pointer"
                          (click)="goToCommunications()">email</mat-icon>
            </ng-template>
        </a>


        <ng-container *ngIf="back">
          <a mat-list-item (click)="goBack()">{{back}}</a>
        </ng-container>
        <a mat-list-item (click)="onLogout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
