<app-front-header back="Indietro"></app-front-header>

<h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Disponibilit&agrave;</h4>

<mat-card class="mat-elevation-z5">

  <div>
    <form style="display: block; text-align: center; padding-top: 20px" >
      <mat-form-field>
        <mat-select placeholder="{{line === null ? 'SELEZIONA LINEA' : 'Linea ' + line}}">
          <ng-container *ngIf="lines">
            <mat-option *ngFor="let line of lines" [value]="line" (click)="changeLineSchedule(line)">
              {{'Linea ' + line}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="padding-left: 20px">
        <input matInput
               [matDatepicker]="datePicker"
               [matDatepickerFilter]="filter"
               [formControl]="dateFormControl"
               (dateChange)="changeDaySchedule()">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>

  <ng-container *ngIf="chaperonLineSchedule !== null">

    <div style="text-align: center; padding-right: 80px"> <!--FIXME center me please-->

      <div>
        <div style="width: 200px; display: inline-block">
          <span>
          ANDATA:
          <b style="padding-right: 15px">
            {{chaperonLineSchedule.to_school!= null && chaperonLineSchedule.to_school.available ? 'SI' : 'NO'}}
          </b>
          </span>
        </div>
        <div style="width: 50px; display: inline-block">
          <button mat-raised-button class="custom-button" (click)="addRemoveAvailability(true)">
            {{chaperonLineSchedule.to_school!= null && chaperonLineSchedule.to_school.available ? 'RIMUOVI' : 'AGGIUNGI'}}
          </button>
        </div>
      </div>

      <div style="margin-top:5px;">
        <div style="width: 200px; display: inline-block">
          <span>
            RITORNO:
            <b style="padding-right: 15px">
              {{chaperonLineSchedule.to_home!= null && chaperonLineSchedule.to_home.available ? 'SI' : 'NO'}}
            </b>
          </span>
        </div>
        <div style="width: 50px; display: inline-block">
          <button mat-raised-button class="custom-button" (click)="addRemoveAvailability(false)">
            {{chaperonLineSchedule.to_home!= null && chaperonLineSchedule.to_home.available ? 'RIMUOVI' : 'AGGIUNGI'}}
          </button>
        </div>

      </div>

    </div>


  </ng-container>

</mat-card>
