.mat-button{
  border: 1px solid #4CAF50;
  width: 100px;
}

.mat-card {
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 600px;
  /*border: 2px solid #D5E8D4*/
}


.selector {
  min-width: 30%;
  max-width: 40%;
  padding-right: 10%;
}

.datepicker {
  min-width: 30%;
  padding-left: 10%;
}

.custom-button{
  border: solid 2px #D5E8D4;
  width: 100px;
}
