table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 20px 20px 16px 0;
}

.mat-header-cell {
  padding: 20px 20px 16px 0;
}

.mat-button{
  border: 1px solid #4CAF50;
}

.highlight{
  background: #dff0e1;
}

.mat-card {
  padding: 0px;
  margin-left:auto;
  margin-right:auto;
  display: block;
  width: 675px;
  /*
  border: 2px solid #D5E8D4
  */
}

.custom-button{
  border: solid 2px #D5E8D4;
  background-color: white;
  width: 200px;
}
