<app-front-header back="Indietro"></app-front-header>
<div style="padding-bottom: 20px"
     fxLayoutAlign="center"
     fxLayout="column wrap">

  <h4 style="text-align: center; font-family:Roboto,serif; padding-top: 25px; padding-bottom: 20px">Comunicazioni</h4>

  <ng-container *ngIf="messagesView; else singleMessageView">

    <mat-card class="mat-elevation-z5">

      <mat-card-content>

        <div>

          <table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index;">{{ 1 + (pageSize * pageNumber) + i }}</td>
            </ng-container>

            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>Oggetto</th>
              <td mat-cell *matCellDef="let message"> {{message.subject}} </td>
            </ng-container>

            <ng-container matColumnDef="sentDateTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
              <td mat-cell *matCellDef="let message"> {{message.sentDateTime | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="read">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let message">
                <ng-container *ngIf="!message.read; else read">
                  <button mat-button class="custom-button"
                          type="button"
                          (click)="openMessage(message, true)"
                          onClick="this.blur()">
                    Nuovo - Leggi
                  </button>
                </ng-container>
                <ng-template #read>
                  <button mat-button class="custom-button"
                          type="button"
                          (click)="openMessage(message, false)"
                          onClick="this.blur()">
                    Leggi
                  </button>
                </ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let message"></tr>
            <!--[ngClass]="{'highlight': !message.read}"></tr>-->
          </table>

          <mat-paginator
            style="padding: 20px; text-align: center"
            [pageSizeOptions]="pageSizeOptions"
            [pageSize]="50"
            (page)="onPageEvent($event)"
            [length]="length"
          >
          </mat-paginator>

        </div>


      </mat-card-content>
    </mat-card>

  </ng-container>

  <ng-template #singleMessageView>

    <mat-card class="mat-elevation-z5">
      <mat-card-content>
        <ng-container *ngIf="currentMessage">
          <h3 style="padding-top:20px; padding-bottom:10px; font-weight: bold; font-size: 21px; text-align: center">{{currentMessage.subject}}</h3>

          <p style="font-size: 17px; text-align: center; padding-bottom: 10px">{{currentMessage.message}}</p>
          <div style="text-align: center; padding-bottom:30px">
            <button mat-button class="custom-button"
                    type="button"
                    (click)="messagesView = true"
                    onClick="this.blur()">
              Indietro
            </button>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>

  </ng-template>

</div>

