<app-front-header back="Indietro"></app-front-header>



<div style="padding-bottom: 20px"
     fxLayoutAlign="center"
     fxLayout="column wrap">

  <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Gestisci utenti</h4>

  <mat-card class="mat-elevation-z5">

  <mat-card-content>

  <div>

  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="line">
      <th mat-header-cell *matHeaderCellDef>
        <mat-select placeholder="TUTTE LE LINEE">
          <ng-container *ngIf="lines">
            <mat-option [value]="line" (click)="onChangeLine(null)">
              TUTTE LE LINEE
            </mat-option>
            <mat-option *ngFor="let line of lines" [value]="line" (click)="onChangeLine(line)">
              {{line === null ? 'TUTTE LE LINEE' : 'LINEA ' + line}}
            </mat-option>
          </ng-container>
        </mat-select>
      </th>
      <td mat-cell *matCellDef="let user"></td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Utente </th>
      <td mat-cell *matCellDef="let user"> {{ user.surname }} {{user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Attivo </th>
      <td mat-cell *matCellDef="let user"> {{user.enable? 'SI' : 'NO'}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Permessi</th>
      <td mat-cell *matCellDef="let user">
        <button #dialogButton mat-raised-button color="primary" type="button" (click)="openAddRemoveGrantsPanel(user)" onClick="this.blur()">
          Gestisci permessi
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let entry"
        [ngClass]="{'highlight': entry.email == loggedUser.email }"></tr>

  </table>

  <mat-paginator style="padding: 20px; text-align: center" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>


  </mat-card-content>
  </mat-card>

</div>

