table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 20px 20px 16px 0;
}

.mat-header-cell {
  padding: 20px 20px 16px 0;
}

.mat-button{
  border: 1px solid #4CAF50;
}

.highlight{
  background: #dff0e1;
}

.mat-card {
  padding: 0px;
  margin-left:auto;
  margin-right:auto;
  display: block;
  /*
  border: 2px solid #D5E8D4
  */
}
