<app-front-header back="Indietro"></app-front-header>

<h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Prenotazioni</h4>

<mat-card class=mat-elevation-z5 *ngIf="childrenWithStatus; else noChildren">

  <!--ANDATA, RITORNO, BAMBINI-->

<div fxLayout="column" style="align-items: center">

  <div style="display: inline-block">
    <span style="font-weight: bold">ANDATA:</span>

    <mat-form-field *ngIf="stopsToSchool" style="padding-left:10px">

      <mat-select style="padding-left:10px;"
                  placeholder="FERMATA" [disabled]="!checkedToSchool">
        <mat-option *ngFor="let stop of stopsToSchool"
                    [value]="stop.name" (click)="updateStopToSchool(stop.name)">
         {{stop.name}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-checkbox style="padding-left:10px; vertical-align: text-top" [(ngModel)]="checkedToSchool" (change)="filterChildren()" [disabled]="allChildrenReservedToSchool"></mat-checkbox>
  </div>
    <!---->

  <div style="display: inline-block">
    <span style="font-weight: bold">RITORNO:</span>
    <mat-form-field *ngIf="stopsToHome" style="padding-left:10px">

      <mat-select placeholder="FERMATA" [disabled]="!checkedToHome">
        <mat-option *ngFor="let stop of stopsToHome"
                    [value]="stop.name" (click)="updateStopToHome(stop.name)">
          {{stop.name}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-checkbox style="padding-left:10px; vertical-align: text-top" [(ngModel)]="checkedToHome" (change)="filterChildren()" [disabled]="allChildrenReservedToHome"></mat-checkbox>
  </div>
    <!---->

  <div style="display: inline-block">
    <span style="font-weight: bold">BAMBINO: </span>

    <mat-form-field *ngIf="childrenWithStatusFiltered" style="padding-left:10px">
      <mat-select placeholder="SCEGLI BAMBINO">
        <mat-option *ngFor="let childStatus of childrenWithStatusFiltered"
                    [value]="childStatus.child" (click)="updateSelectedChild(childStatus.child)">
          {{childStatus.child.name}} {{childStatus.child.surname}}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </div>
  <!--FINE ANDATA, RITORNO, BAMBINI-->

  <!--PRENOTA-->


  <div style="display: inline-block; padding-top: 10px">
    <button mat-raised-button color="primary"
            [disabled]="!isInputOk()" (click)="addReservation()">PRENOTA</button>
  </div>
  <!--FINE PRENOTA-->

</div>



  <ng-container *ngIf="reservation$ | async as reservation">

      <form style="display: block; text-align: center; padding-top: 20px" >

        <mat-form-field *ngIf="lines">

          <mat-placeholder><b>{{line === null ? 'SELEZIONA LINEA' : 'Linea ' + line}}</b></mat-placeholder>
          <mat-select>
            <mat-option *ngFor="let line of lines"
                        [value]="line"
                        (click)="changeLineSchedule(line)">
              Linea {{line}}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field style="padding-left: 20px">
            <input
              matInput
              [matDatepicker]="datePicker"
              [matDatepickerFilter]="filter"
              [formControl]="dateFormControl"
              (dateChange)="changeDaySchedule()">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </form>


    <!--LISTA FERMATE ANDATA, RITORNO-->

    <mat-list style="padding-top: 20px">

        <p class="stops"> Andata</p>

        <mat-list-item style="display: inline-flex; flex-flow: column; height: auto !important"
                       *ngFor="let stop of reservation.toSchool">

          <div mat-line style="display: inline-flex; align-items:center; vertical-align: middle">
            <mat-icon matListIcon svgIcon="adjust"></mat-icon>
            <h4 class="stop" mat-line style="display: contents; cursor: pointer"
            (click)="openMap(stop)">{{stop.time}} - {{stop.place}}</h4>
          </div>

          <div mat-line style="margin-left:35px; padding: 20px 0px 20px 0px;">
            <span *ngFor="let child of stop.onBoard; last as isLast;"
                  style="white-space: pre-line">
              <span>{{child.name}} {{child.surname}} </span>
              <!--<button mat-mini-fab color="primary" (click)="removeReservation(child)"></button>-->
              <i data-md-tooltip="Rimuovi"
                 class="material-icons md-tooltip--right"
                 (click)="removeReservation(child)">
            delete_forever
            </i>

              <span *ngIf="!isLast">&nbsp;&nbsp;</span>
          </span>
          </div>

        </mat-list-item>


        <p class="stops"> Ritorno</p>
        <mat-list-item style="display: flex; flex-flow: column; height: auto !important"
                       *ngFor="let stop of reservation.toHome">

          <div mat-line style="display: inline-flex; align-items:center; vertical-align: middle">
            <mat-icon matListIcon svgIcon="adjust"></mat-icon>
            <h4 class="stop" mat-line style="display: contents; cursor: pointer"
                (click)="openMap(stop)">{{stop.time}} - {{stop.place}}</h4>
          </div>

          <div mat-line style="margin-left:35px; padding: 20px 0px 20px 0px;">
            <span *ngFor="let child of stop.offBoard; last as isLast;"
                  style="white-space: pre-line">
              <span>{{child.name}} {{child.surname}} </span>

            <!--<button mat-mini-fab color="primary" (click)="removeReservation(child)"></button>-->

            <i data-md-tooltip="Rimuovi"
               class="material-icons md-tooltip--right"
               (click)="removeReservation(child)">
            delete_forever
            </i>

            <span *ngIf="!isLast">&nbsp;&nbsp;</span>
          </span>
          </div>

        </mat-list-item>

      </mat-list>

  </ng-container>
</mat-card>

<ng-template #noChildren>
  <mat-card>
  Aggiungi prima un bambino...
  </mat-card>
</ng-template>
