.mat-card {
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 600px;
  padding-top: 20px;
  /*border: 2px solid #D5E8D4*/
}

.selected{
  font-weight: bold;
}

.mat-button{
  border: 1px solid #4CAF50;
  width: 100px;
}

.selector {
  min-width: 30%;
  max-width: 40%;
  padding-right: 10%;
}

.datepicker {
  min-width: 30%;
  max-width: 40%;
}

.mat-icon {
  display: flex;
  vertical-align: middle;
}

h4.stop {
  vertical-align: middle;
  font-weight: bold;
  cursor:pointer;
}

h4.stop:hover {
  font-weight: bold;
  color: #66bb6a;
  cursor:pointer;
}

p.lines {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

p.stops {
  padding-left: 20px; text-align: center;
  padding-right: 20px; font-weight: bold;
  padding-top: 20px;
  font-size: 18px;
}

.mat-mini-fab {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.material-icons {
  vertical-align: bottom;
  cursor:pointer
}

[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]:before {
  content: attr(data-md-tooltip);
  position: absolute;
  bottom: -35px;
  left: 50%;
  padding: 8px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  background: black;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateX(-50%) scale(1);
}

[data-md-tooltip].md-tooltip--right:before {
  left: auto;
  right: -10px;
  bottom: auto;
  top: 50%;
  transform: translate(100%, -50%) scale(0);
  transform-origin: left center;
}
[data-md-tooltip].md-tooltip--right:hover:before {
  transform: translate(100%, -50%) scale(1);
}
[data-md-tooltip].md-tooltip--left:before {
  left: -15px;
  right: auto;
  bottom: auto;
  top: 50%;
  transform: translate(-100%, -50%) scale(0);
  transform-origin: right center;
}
[data-md-tooltip].md-tooltip--left:hover:before {
  transform: translate(-100%, -50%) scale(1);
}
.md-tooltip--top:before {
  top: -35px;
  bottom: auto;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
}

