.buttonClass {
  text-align: center;
  height: 50%;
}


.mat-button {
  width: 200px;
  height: 200px;
}

.center-div {
  padding-bottom: 10px;
}

.mat-card-image {
  width: 100px;
  height: 100px;
  margin: auto;
}
