<app-front-header back="Indietro"></app-front-header>

<div style="padding-bottom: 20px"
     fxLayoutAlign="center"
     fxLayout="column wrap">

  <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Gestisci turni</h4>

  <mat-card class="mat-elevation-z5">

    <mat-card-content>

      <div>

        <div style="padding-top: 20px; text-align: center">

          <mat-select class="selector" placeholder="{{line === null ? 'SELEZIONA LINEA' : 'Linea ' + line}}">
            <ng-container *ngIf="lines">
              <mat-option *ngFor="let line of lines" [value]="line" (click)="changeLineSchedule(line)">
                {{'Linea ' + line}}
              </mat-option>
            </ng-container>
          </mat-select>

          <mat-form-field class="datepicker">
            <input matInput
                   [matDatepicker]="datePicker"
                   [matDatepickerFilter]="filter"
                   [formControl]="dateFormControl"
                   (dateChange)="changeDaySchedule()">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </div>



        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail</th>
            <td mat-cell *matCellDef="let user"> {{user.userDetail.email}} </td>
          </ng-container>

          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> Accompagnatore </th>
            <td mat-cell *matCellDef="let user"> {{user.userDetail.surname}} {{user.userDetail.name}} </td>
          </ng-container>

          <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef> DISPONIBILE AL TURNO </th>
            <td mat-cell *matCellDef="let user">
              <div> ANDATA: <b style="font-weight: bold">{{user.to_school.available ? 'SI' : 'NO'}}</b> </div>
              <div> RITORNO: <b style="font-weight: bold">{{user.to_home.available ? 'SI' : 'NO'}}</b> </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="shift">
            <th mat-header-cell *matHeaderCellDef> ASSEGNATO PER IL TURNO </th>
            <td mat-cell *matCellDef="let user">
              <div style="padding-bottom: 10px">
                <ng-container *ngIf="user.to_school.shift === true">
          <span>
            ANDATA: <b style="font-weight: bold; padding-right: 5px">SI </b>

            <button mat-raised-button class="custom-button" [disabled]="user.to_school.reservedElseWhere && user.to_school.lineElseWhere !== line"
                    (click)="selectedUser=user;
                                        addRemoveShift(user.userDetail.email, true, false)">
            RIMUOVI
            </button>
          </span>
                </ng-container>
                <ng-container *ngIf="user.to_school.shift === false">
          <span>ANDATA: <b style="font-weight: bold; padding-right: 5px">NO </b>

            <button mat-raised-button class="custom-button" [disabled]="!user.to_school.available || (user.to_school.reservedElseWhere && user.to_school.lineElseWhere !== line)"
                    (click)="selectedUser=user;
                                            addRemoveShift(user.userDetail.email, true, true)">
            ASSEGNA</button>
          </span>
                </ng-container>
              </div>
              <div>
                <ng-container *ngIf="user.to_home.shift === true">
          <span>RITORNO: <b style="font-weight: bold; padding-right: 5px">SI </b>
            <button mat-raised-button class="custom-button" [disabled]="user.to_home.reservedElseWhere && user.to_home.lineElseWhere !== line"
                    (click)="selectedUser=user;
                                             addRemoveShift(user.userDetail.email, false, false)">
            RIMUOVI</button>
          </span>
                </ng-container>
                <ng-container *ngIf="user.to_home.shift === false">
          <span>RITORNO: <b style="font-weight: bold; padding-right: 5px">NO </b>
            <button mat-raised-button class="custom-button" [disabled]="!user.to_home.available || (user.to_home.reservedElseWhere && user.to_home.lineElseWhere !== line)"
                    (click)="selectedUser=user;
                                             addRemoveShift(user.userDetail.email, false, true)">
            ASSEGNA</button></span>
                </ng-container>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="busy">
            <th mat-header-cell *matHeaderCellDef> IMPEGNATO IN ALTRO TURNO </th>
            <td mat-cell *matCellDef="let user">
              <div>
                <ng-container *ngIf="user.to_school.reservedElseWhere === true">
                  <span>ANDATA: <b style="font-weight: bold; padding-right: 5px">SI </b> LINEA {{user.to_school.lineElseWhere}}</span>
                </ng-container>
                <ng-container *ngIf="user.to_school.reservedElseWhere === false">
                  <span>ANDATA: <b style="font-weight: bold; padding-right: 5px">NO </b></span>
                </ng-container>
              </div>
              <div>
                <ng-container *ngIf="user.to_home.reservedElseWhere === true">
                  <span>RITORNO: <b style="font-weight: bold; padding-right: 5px">SI </b> LINEA {{user.to_home.lineElseWhere}}</span>
                </ng-container>
                <ng-container *ngIf="user.to_home.reservedElseWhere === false">
                  <span>RITORNO: <b style="font-weight: bold; padding-right: 5px">NO </b></span>
                </ng-container>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>

      </div>

    </mat-card-content>


  </mat-card>

</div>
