table {
  width: 100%;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 20px 20px 16px 0;
}


.mat-header-cell {
  padding: 20px 20px 16px 0;
}


.mat-button{
  border: 1px solid #4CAF50;
}

/** No CSS for this example */
::ng-deep .newClass
{
  background: greenyellow !important;
}

.mat-card {
  padding: 0px;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.selector {
  min-width: 30%;
  max-width: 40%;
  padding-right: 10%;
}

.datepicker {
  min-width: 30%;
  max-width: 40%;
}

.custom-button{
  border: solid 2px #D5E8D4;
  width: 100px;
}
