<app-front-header back="Indietro"></app-front-header>
<div style="padding-bottom: 20px">

  <h4 style="text-align: center; font-family:Roboto,serif; padding-top: 25px; padding-bottom: 20px">Registra un nuovo utente</h4>

  <div>

    <mat-card class="mat-elevation-z5">

    <mat-card-content>

      <form [formGroup]="userFormGroup" fxLayout="column" style="align-items: center">

            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" formControlName="nameCtrl" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cognome</mat-label>
              <input matInput placeholder="Cognome" formControlName="surnameCtrl" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="E-mail" formControlName="emailCtrl" required>
              <div class="error" style="padding-top:10px"  *ngIf="userFormGroup.get('emailCtrl').hasError('email')">
                E-mail non valida
              </div>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="passwordCtrl" [type]="hideP ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
                <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Conferma Password</mat-label>
              <input matInput placeholder="Conferma Password" formControlName="confirmationPasswordCtrl" [type]="hideC ? 'password' : 'text'" required>
              <div class="error" style="padding-top:10px" *ngIf="userFormGroup.hasError('equalPassword') && userFormGroup.get('confirmationPasswordCtrl').dirty">
                Le password non corrispondono
              </div>
              <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
                <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Seleziona il ruolo</mat-label>
              <mat-select placeholder="Seleziona il ruolo" formControlName="roleCtrl" required multiple>
                <mat-option *ngFor="let role of getRoleOptions()" [value]="role" (click)="selectedRole(role)">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field *ngIf="lines$" appearance="outline">
              <mat-label>Seleziona la linea</mat-label>
              <mat-select placeholder="Seleziona la linea" formControlName="lineCtrl" required>
                <mat-option *ngFor="let line of lines" [value]="line" (click)="selectedLine(line.toString())">
                  {{line}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div style="text-align: center; padding-top: 10px">
              <button mat-raised-button (click)="onRegisterUser()" color="primary" [disabled]="!userFormGroup.valid">Registra l'utente</button>
            </div>

      </form>

    </mat-card-content>

  </mat-card>
  </div>
</div>
