<app-front-header></app-front-header>
<ng-container  *ngIf="roles$ | async as roles; else rolesNotFound">

  <div style="margin-top: 20px;">

    <div fxLayoutAlign="center"
         fxLayout="row wrap"
         fxLayoutGap="10px grid"
         *ngIf="roles">

      <ng-container>
        <div>
          <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Account</h4>
          <app-box title="Messaggi" route="communications" image="{{asset}}/message.png"></app-box>
          <app-box title="Modifica password" route="personal-data" image="{{asset}}/key.png"></app-box>
        </div>
      </ng-container>

      <ng-container *ngIf="roles.includes(L_ADMIN)">
        <div>
          <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Amministratore</h4>
          <app-box title="Registra utenti" route="register" image="{{asset}}/add-user.png"></app-box>
          <app-box title="Gestione utenti" route="users-control-panel" image="{{asset}}/users.png"></app-box>
          <app-box title="Gestione turni" route="shifts" image="{{asset}}/shift.png"></app-box>
          <!--        <app-box title="Registra linea" route="line-registration"></app-box> DA CHIARIRE-->
        </div>
      </ng-container>

      <ng-container *ngIf="roles.includes(CHAPERON)">
        <div>
          <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Accompagnatore</h4>
          <app-box title="Disponibilità" route="availabilities" image="{{asset}}/suitcase.png"></app-box>
          <app-box title="Conferma presenze" route="lines" image="{{asset}}/check.png"></app-box>
          <!--        <app-box title="presenze" route="presence"></app-box>-->
        </div>
      </ng-container>

      <ng-container *ngIf="roles.includes(PARENT)">
        <div>
          <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Genitore</h4>
          <app-box title="Prenotazioni" route="reservations" image="{{asset}}/calendar.png"></app-box>
          <app-box title="I tuoi bambini" route="children" image="{{asset}}/children.png"></app-box>
<!--          <app-box title="LIVE" route="monitor"></app-box>-->
        </div>
      </ng-container>

    </div>

  </div>


</ng-container>

<ng-template #rolesNotFound>

  <h3>Il tuo account non è disponibile al momento. Contatta un'amministatore per più informazioni</h3>

</ng-template>
