<div style="text-align: center; padding-bottom: 20px">
  <h2>{{candidate.surname}} {{candidate.name}} </h2>
</div>

<div class="mat-elevation-z5">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="line">
      <th mat-header-cell *matHeaderCellDef>Linea</th>
      <td mat-cell *matCellDef="let line"> {{line.line}} </td>
    </ng-container>

    <ng-container matColumnDef="line_administrator">
      <th mat-header-cell *matHeaderCellDef> AMMINISTRATORE </th>
      <td mat-cell *matCellDef="let line">
        <button mat-raised-button color="primary" type="button" [disabled]="mySelf" (click)="enableDisableLineAdministrator(line)" onClick="this.blur()">
          {{ !isLineAdministrator(line) ? 'AGGIUNGI' : 'RIMUOVI' }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="chaperon">
      <th mat-header-cell *matHeaderCellDef> ACCOMPAGNATORE </th>
      <td mat-cell *matCellDef="let line">
        <button mat-raised-button color="primary" type="button" [disabled]="!isLineAdministrator(line) && mySelf"  (click)="enableDisableChaperon(line)" onClick="this.blur()">
          {{ !isChaperon(line) ? 'AGGIUNGI' : 'RIMUOVI' }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef> GENITORE </th>
      <td mat-cell *matCellDef="let line" >
        <button mat-raised-button color="primary" type="button" [disabled]="!isLineAdministrator(line) && mySelf" (click)="enableDisableParent(line)" onClick="this.blur()">
          {{ !isParent(line) ? 'AGGIUNGI' : 'RIMUOVI' }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  </table>
</div>
