<app-front-header back="Indietro"></app-front-header>
<div style="padding-bottom: 20px">

  <h4 style="text-align: center; font-family:Roboto,serif; padding-top: 25px; padding-bottom: 20px">Area Personale</h4>

  <div>

    <mat-card class="mat-elevation-z5">

      <mat-card-content>

        <form [formGroup]="userFormGroup" fxLayout="column" style="align-items: center">

          <mat-form-field appearance="outline">
            <mat-label>Attaule Password</mat-label>
            <input matInput placeholder="Password" formControlName="currentPasswordCtrl" [type]="hideO ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hideO = !hideO" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideO">
              <mat-icon>{{hideO ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nuova Password</mat-label>
            <input matInput placeholder="Password" formControlName="newPasswordCtrl" [type]="hideP ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
              <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Conferma Password</mat-label>
            <input matInput placeholder="Conferma Password" formControlName="confirmationPasswordCtrl" [type]="hideC ? 'password' : 'text'" required>
            <div class="error" style="padding-top:10px" *ngIf="userFormGroup.hasError('equalPassword') && userFormGroup.get('confirmationPasswordCtrl').dirty">
              Le password non corrispondono
            </div>
            <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
              <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>


          <div style="text-align: center; padding-top: 10px">
            <button mat-raised-button (click)="onUpdatePassword()" color="primary" [disabled]="!userFormGroup.valid">Aggiorna Password</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
