.error{
    font-weight: bold;
    color: red;
  }

.custom-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.custom-card {
  height: auto;
  display: flex;
  /*min-width: 600px;*/
  justify-content: center;
}

.mat-card {
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 400px;
  /*
  border: 2px solid #D5E8D4
  */
}

.mat-form-field {
  width: 300px!important;
}

::-webkit-input-placeholder {
  font-weight: lighter;
}

::placeholder {
  font-weight: lighter;
}


.container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  min-width: 100%;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
