<div style="padding-bottom: 20px">

  <h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">Accedi a Pedibus</h4>

  <div>

  <mat-card class="mat-elevation-z5">

    <mat-card-content>

      <form [formGroup]="form" fxLayout="column" style="align-items: center; padding-top: 25px">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" name="email" class="form-control" formControlName="email" (focusin)="notFocused=false" (focusout)="notFocused=true">
          <span class="error" *ngIf="form.get('email').hasError('email') && notFocused">
               Insert a valid e-mail
            </span>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="password" class="form-control" formControlName="password" type="password">
        </mat-form-field>
      </form>

      <div style="text-align: center;">
      <button mat-raised-button (click)="onLogin()" color="primary" [disabled]="!form.valid">LOGIN</button>
      </div>

    </mat-card-content>

    <ng-container *ngIf="processing">
      <div fxLayout="column" style="align-items: center; padding-top: 25px">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-container>


  </mat-card>
  <ng-container *ngIf="message">
    <h1>{{message}}</h1>
  </ng-container>
</div>
</div>


