@import '../../node_modules/@angular/material/theming';
@include mat-core();

$custom-theme-primary: mat-palette($mat-green, 200);
$custom-theme-accent: mat-palette($mat-green, 400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);


.custom-theme-dark {

  color: $light-primary-text;

  $custom-theme-dark-primary: mat-palette($mat-green, 200);
  $custom-theme-dark-accent: mat-palette($mat-green, 400);
  $custom-theme-dark-warn: mat-palette($mat-red);
  $custom-theme-dark: mat-dark-theme($custom-theme-dark-primary, $custom-theme-dark-accent, $custom-theme-dark-warn);

  .custom-sidenav {
    background-color: #2b2b2b;
    color: #e0e0e0;
  }

  .custom-divider {
    border-top-color: #e0e0e0;
  }

  @include angular-material-theme($custom-theme-dark);

}

