<app-front-header back="Indietro"></app-front-header>

<div style="padding-bottom: 20px">

  <h4>Conferma presenze</h4>

  <mat-card class="mat-elevation-z5">

  <ng-container *ngIf="lines; else lineScheduleNotFound">

    <p class="lines"> Linea {{line}} </p>

    <form style="display: block; text-align: center">

    <mat-form-field *ngIf="lines">

      <mat-select placeholder="{{line === null ? 'SELEZIONA LINEA' : 'Linea ' + line}}">
        <mat-option *ngFor="let line of lines"
                    [value]="line"
                    (click)="changeLineSchedule(line)">
          Linea {{line}}
        </mat-option>
      </mat-select>

    </mat-form-field>


    <mat-form-field style="padding-left: 20px">
        <input matInput
               [matDatepicker]="datePicker"
               [matDatepickerFilter]="filter"
               [formControl]="dateFormControl"
               (dateChange)="changeDaySchedule()">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    </form>


    <!--LISTA FERMATE ANDATA, RITORNO -->

      <mat-list style="padding-top: 20px">

        <ng-container *ngIf="shift && shift.toSchool === true && lineReservation;">
          <p class="stops">Andata</p>

          <mat-list-item style="display: inline-flex; flex-flow: column; height: auto !important"
                         *ngFor="let stop of lineReservation.toSchool">

            <div mat-line style="display: inline-flex; align-items:center; vertical-align: middle">
              <mat-icon matListIcon svgIcon="adjust"></mat-icon>
              <h4 class="stop" mat-line style="display: contents">{{stop.time}} - {{stop.place}}</h4>
            </div>

            <div mat-line style="margin-left:35px; padding: 20px 0 20px 0;">
            <span *ngFor="let child of stop.onBoard; last as isLast;"
                  (click)="onSelectChild(child, true);"
                  [ngClass]="{
                  'collected' : child.collected,
                  'delivered' : child.delivered}"
                  style="cursor:pointer">
              {{child.name}} {{child.surname}}
              <span style="font-weight: normal!important;" *ngIf="!isLast">,&nbsp;</span>
          </span>
            </div>

          </mat-list-item>
        </ng-container>

        <ng-container *ngIf="shift && shift.toHome  === true && lineReservation">

          <p class="stops">Ritorno</p>

          <mat-list-item style="display: flex; flex-flow: column; height: auto !important"
                         *ngFor="let stop of lineReservation.toHome">

            <div mat-line style="display: inline-flex; align-items:center; vertical-align: middle">
              <mat-icon matListIcon svgIcon="adjust"></mat-icon>
              <h4 class="stop" mat-line style="display: contents">{{stop.time}} - {{stop.place}}</h4>
            </div>

            <div mat-line style="margin-left:35px; padding: 20px 0 20px 0;">
            <span *ngFor="let child of stop.offBoard; last as isLast;"
                  (click)="onSelectChild(child, false);"
                  [ngClass]="{
                  'collected' : child.collected,
                  'delivered' : child.delivered}"
                  style="cursor:pointer">{{child.name}} {{child.surname}}
              <span style="font-weight: normal!important;" *ngIf="!isLast">,&nbsp;</span>
            </span>
            </div>

          </mat-list-item>

        </ng-container>

      </mat-list>
  </ng-container>

<ng-container *ngIf="!shift || (!shift.toSchool && !shift.toHome)">
  <h4>Nessun turno disponibile</h4>
</ng-container>

<ng-template #lineScheduleNotFound>
<!--    SHOULD NOT BE HERE!-->
</ng-template>
</mat-card>
</div>
