.mat-card {
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 600px;
  /*
  border: 2px solid #D5E8D4
  */
}

h4 {
  text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px;
}

p.lines {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

p.stops {
  padding-left: 20px; text-align: center;
  padding-right: 20px; font-weight: bold;
  padding-top: 20px;
  font-size: 18px;
}

.selected{
  font-weight: bold;
}

.mat-card {
  padding: 0;
}

.mat-icon {
  display: flex;
  vertical-align: middle;
}

h4.stop {
  vertical-align: middle;
  font-weight: bold;
}

.collected{
  color: blue;
  font-weight: bold;
}

.delivered{
  color: black;
  font-weight: bold;
}
