.selected{
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.is-mobile .toolbar {
  flex-direction: column;
  width: 100% !important;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
}

.container {
  display: inherit;
  min-width: 100%;
  flex-direction: column;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
