<div class="container" [class.is-mobile]="mobileQuery.matches">
<mat-toolbar style="width:100%" color="primary" class="toolbar">
  <mat-toolbar-row style="width: 100%" class="mat-elevation-z4">
    <span><a href="/" style="margin:auto">{{ title }}</a></span>
  </mat-toolbar-row>
</mat-toolbar>
</div>
