.error{
  font-weight: bold;
  color: red;
}

.mat-card {
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 400px;
  /*border: 2px solid #D5E8D4*/
}

.mat-form-field {
  width: 300px!important;
}

::-webkit-input-placeholder {
  font-weight: lighter;
}

::placeholder {
  font-weight: lighter;
}
