<app-front-header back="Indietro"></app-front-header>

<div style="padding-bottom: 20px">

  <h4 style="text-align: center; font-family:Roboto,serif; padding-top: 25px; padding-bottom: 20px">Registra una nuova linea</h4>

  <div>

    <mat-card class="mat-elevation-z5">

      <mat-card-content>

        <form [formGroup]="lineFormGroup" fxLayout="column" style="align-items: center">

          <mat-form-field appearance="outline">
            <mat-label>Linea</mat-label>
            <input matInput placeholder="Linea" formControlName="lineCtrl" required>
          </mat-form-field>


          <mat-form-field *ngIf="admins" appearance="outline">
            <mat-label>Seleziona l'amministratore</mat-label>
            <mat-select placeholder="Seleziona l'amministratore" formControlName="adminCtrl" required>
              <mat-option *ngFor="let admin of admins" [value]="admin" (click)="selectedAdmin(admin)">
                {{admin.name}} {{admin.surname}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div style="text-align: center; padding-top: 10px">
            <button mat-raised-button (click)="onRegisterLine()" color="primary" [disabled]="!lineFormGroup.valid">Registra la linea</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
