<div [ngClass]="{'custom-theme-dark': isDarkTheme | async}">
  <div class="mat-app-background">

<ng-container *ngIf="isMobile ; else isDesktop">
  <ng-container *ngIf="back; else isHome">
    <app-sidenav back="Torna indietro"></app-sidenav>
  </ng-container>
  <ng-template #isHome>
    <app-sidenav></app-sidenav>
  </ng-template>
</ng-container>

<ng-template #isDesktop>
<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z4">

    <ng-container *ngIf="back">
      <button mat-button (click)="goBack()">
        {{back}}
      </button>
    </ng-container>

    <span class="spacer"></span>

    <!--<mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Tema scuro</mat-slide-toggle>-->

    <ng-container *ngIf="user$ | async as user">


      <ng-container *ngIf="unreadMessages$ | async as unreadMessages; else allRead">
        <mat-icon matBadge="{{unreadMessages}}" matBadgeColor="warn"
                  style="margin-right: 10px; cursor: pointer"
                  (click)="goToCommunications()">email</mat-icon>
      </ng-container>
      <ng-template #allRead>
        <img class="communications"
             src="../../../assets/img/email.png"
             style="margin-right: 10px"
             (click)="goToCommunications()">
      </ng-template>




      <mat-menu #appMenu="matMenu" onClick="this.blur()">
        <button mat-menu-item (click)="onLogout()">Esci</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu">
        <!--<mat-icon>more_vert</mat-icon>-->
        <div style="padding-right: 10px">
          {{ user.name }}&nbsp;{{user.surname}}&nbsp;&nbsp;
          <img class="account" src="../../../assets/img/account.png" style="vertical-align: middle">
        </div>
      </button>
    </ng-container>


    <!--    <div style="margin-top: 8px; margin-bottom: auto; z-index: 2">
        <mat-expansion-panel hideToggle="true" style="z-index: 1">
          <mat-expansion-panel-header>
            <mat-panel-title *ngIf="user$ | async as user">
              {{ user.name }} {{user.surname}}
            </mat-panel-title>
            <mat-icon style="margin:auto">account_circle</mat-icon>
          </mat-expansion-panel-header>
          <div class="my-button">
            <a mat-raised-button color="primary" (click)="onLogout()">Log out</a>
          </div>
        </mat-expansion-panel>
        </div>-->

  </mat-toolbar-row>

<!--  <mat-toolbar-row>
    <span><a href="/" style="text-decoration: none; color:white">{{ title }}</a></span>
  </mat-toolbar-row>-->
</mat-toolbar>
</ng-template>
  </div>
</div>
