.spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel-header {
  padding: 15px;
}

.communications {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mat-button {
  width: auto;
  height: 64px;
  font-size: 15px; font-weight: bold;
}

.mat-icon {
  width: auto;
  height: auto;
}

.account {
  width: 24px;
  height: 24px;
}
