<mat-dialog-content style="text-align: center; margin:auto;">

<ng-container *ngIf="isToSchool()">
<div style="display: inline-block">
  <span style="font-weight: bold">ANDATA:</span>

  <mat-form-field *ngIf="stops" style="padding-left:10px">

    <mat-select style="padding-left:10px;"
                placeholder="FERMATA">
      <mat-option *ngFor="let stop of stops"
                  [value]="stop.place" (click)="updateStop(stop.place)">
        {{stop.place}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>
</ng-container>



<ng-container *ngIf="isToHome()">
<div style="display: inline-block">
  <span style="font-weight: bold">RITORNO:</span>
  <mat-form-field *ngIf="stops" style="padding-left:10px">

    <mat-select placeholder="FERMATA">
      <mat-option *ngFor="let stop of stops"
                  [value]="stop.place" (click)="updateStop(stop.place)">
        {{stop.place}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>
</ng-container>

<div fxLayout="column wrap" style="margin:auto">
<button mat-raised-button color="primary" (click)=closeAndConfirm()>Conferma cambiamento</button>
<button mat-raised-button color="primary" (click)=closeAndDelete()>Elimina prenotazione</button>
<button mat-raised-button color="primary" (click)=closeAndCancel()>Annulla</button>
</div>

</mat-dialog-content>
