.mat-card {
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 600px;
  /*
  border: 2px solid #D5E8D4
  */
}

.mat-form-field {
  width: 250px!important;
}

.mat-raised-button {
  padding: 15px;
}
