<app-front-header back="Indietro"></app-front-header>

<h4 style="text-align: center; font-family:Roboto; padding-top: 25px; padding-bottom: 20px">I tuoi bambini</h4>

<div fxLayout="column wrap">

<mat-card class="mat-elevation-z5">

<div style="margin-top: 20px;">

  <ng-container *ngIf="children && children.length !== 0; else nochildren">
    <div *ngFor="let child of children">
      <div style="font-weight: bold; text-align: center">
        <span>
        {{child.name}} {{child.surname}}
      </span>
      </div>
    </div>
  </ng-container>
  <ng-template #nochildren>
    <span>
      <h4 style="text-align: center">
        Non hai ancora registrato i tuoi bambini!
      </h4>
    </span>
  </ng-template>

    <p style="margin-top: 30px; text-align: center">
      Registra i tuoi bambini:
    </p>
  <div style="align-items: center">
    <form [formGroup]="childGroup" fxLayout="column" style="align-items: center">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="nameC" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
          <input matInput placeholder="Cognome" formControlName="surnameC" required>
      </mat-form-field>

      <button mat-raised-button color="primary" style="width: 150px!important"
              [disabled]="!childGroup.valid || !childNotConflict()"
              (click)="onRegisterChild()"
              onClick="this.blur()">
        Registra bambino
      </button>

    </form>
  </div>
  </div>

</mat-card>

</div>
